/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background-image: url("https://cdn.wallpapersafari.com/41/52/EzRYWw.jpg");
  height: 100%;
  background-size: contain;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  text-align: center;
}

li {
  float: center;

}

li a {
  display: grid;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

li h2 {
  display: none;
}

.container{
  display: block;
  flex-wrap: wrap;

  padding-top: 20px;
  background: lightgrey;
  border: 3px solid black;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.container h2 {
  font-style: italic;
  text-align: center;
  text-decoration-style: double;
}


.LFC {
 display: none;

}

.slider {
align-self: center;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
margin-bottom: 20px;
}

.mySlides {
  display:none;
  width: 60%;
  max-height: 500px;
  border-style: solid;
  margin-bottom: 30px;
}
/*------------Footer css----------*/
.footer
{
  margin-top: 200px;

  background: black;
  color: white;
  border-top:3px solid darkred;
}

.footer .containerFooter p
{
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 20px;
}
.footer .containerFooter{
text-align: center;
}

.footer a {
color: white;
}



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background-image: url("https://cdn.wallpapersafari.com/41/52/EzRYWw.jpg");
    height: 100%;
    background-size: cover;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .about {
   float:right;
   border-right: none;
}
li h2 {
  display: none;
}
}

.container{
  display: block;
  flex-wrap: wrap;

  padding-top: 20px;
  background: lightgrey;
  border: 3px solid black;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.container h2 {
  font-style: italic;
  text-align: center;
  text-decoration-style: double;
}


.LFC {
 display: none;

}

.slider {
align-self: center;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
margin-bottom: 20px;
}

.mySlides {
  display:none;
  width: 60%;
  max-height: 500px;
  border-style: solid;
  margin-bottom: 30px;
}
/*------------Footer css----------*/
.footer
{
  margin-top: 200px;

  background: black;
  color: white;
  border-top:3px solid darkred;
}

.footer .containerFooter p
{
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 20px;
}
.footer .containerFooter{
text-align: center;
}

.footer a {
color: white;
}




/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
  background-image: url("https://cdn.wallpapersafari.com/41/52/EzRYWw.jpg");
  height: 100%;
  background-size: cover;
}


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: red;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .about {
   float:right;
   border-right: none;
  }

  .container{
    display: block;
    flex-wrap: wrap;

    padding-top: 20px;
    background: lightgrey;
    border: 3px solid black;
    margin-top: 20px;
    margin-right: 300px;
    margin-left: 300px;
  }

  .container h2 {
    font-style: italic;
    text-align: center;
    text-decoration-style: double;
  }


  .LFC {
   display: flex;
   text-align: center;
   color: gold;
   padding-left: 120px;
   border-radius:
  }

  .slider {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  }

  .mySlides {
    display:none;
    width: 60%;
    max-height: 500px;
    border-style: solid;
    margin-bottom: 30px;
  }
  /*------------Footer css----------*/
  .footer
  {
    margin-top: 80px;

    background: black;
    color: white;
    border-top:3px solid darkred;
  }

  .footer .containerFooter p
  {
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .footer .containerFooter{
  text-align: center;
  }

  .footer a {
  color: white;
  }


}
